.container {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
}

.header {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-evenly;
}

.nav {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-evenly;
}

.content{
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-start;
}

.background {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-evenly;
}

.footer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-evenly;
}
